#services
{
    overflow: auto;
    flex-grow: 1;
}

#page
{
    display: flex;
    height: 100vh;
    flex-direction: row;
    background-image: url("background-0.png");
    color: #fefefe;
}

#sidebar
{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#rest
{
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#top-banner
{
    display: flex;
    flex-direction: row;
}

#reduce-footprint
{
    flex-grow : 1;
}

#logo
{
    flex-grow: 0;
}

#house
{
    flex-grow: 1;
    width: 100%;
}

#cost-details
{
    color: #dadada;
    flex-grow: 1;
    overflow: auto;
    height: 1px;
}

#money
{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

#costs
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#bills
{
    flex-grow: 1;
}

.black
{
    background-color: #181818;
    color: #fefefe
}